.content{
   background: var(--color-white);
   padding-bottom: calc(var(--max-space) * 5);
   opacity: var(--opacity-none);
   transform: translateY(5%);
   animation: contentSwipe var(--transition-slowest) ease 1 forwards;
}
@keyframes contentSwipe{
    0%{
        opacity: var(--opacity-none);
        transform: translateY(5%);
    }
    100%{
        opacity: var(--opacity-full);
        transform: translateX(0);
    }
}
.content_header{
    min-height: calc(var(--pixel) * 150);
    display: grid;
    justify-content: center;
    place-items: center;
}
.content_header h1{
    font-size: calc(var(--max-space) * 2);
}
.inner_content{
    padding: calc(var(--max-space) * 2);
    min-height: calc(var(--pixel) * 700);
}
.inner_content_form{
    display: grid;
    place-items: center;
}
.inner_content_bg{
    position: relative;
}
.page_loader {
    display: -ms-flex;
    display: flex;
    justify-content: center;
    padding: calc(var(--max-space) * 3) 0;
}
.page_spinner {
    border: 2px solid;
    border-color: var(--color-red) transparent transparent;
    width: calc(var( --icon-size) * 2);
    height: calc(var( --icon-size) * 2);
    border-radius: calc(var( --percent) * 50);
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
    transition: var(--transition-medium) ease;
    animation: pageSpinner var(--transition-slow) ease infinite;
}
@keyframes pageSpinner{
    0%{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}
.profile_top {
    padding: var(--max-space) 0;
}
.profile_uploaded_results_count{
    width: max-content;
}
.profile_uploaded_results_count span {
    border: 1px solid var(--color-dark-grey);
    padding: calc(var(--min-space) * 2) var(--max-space);
    border-radius: var( --min-space);
    background: var(--color-light-grey);
}
.profile_data_search_filter{
    margin: var(--max-space) 0;
    position: sticky;
    top: 0;
    background: var(--color-white);
    z-index: calc(var(--value) * 10000);
}
.profile_data_search_filter input[type="text"] {
    outline: none;
    border: 0;
    background: var(--color-white);
    padding: var( --max-space);
    font-size: var( --max-space);
    border-bottom: 1px solid var(--color-light-grey);
    width: 100%;
    transition: var(--transition-fast) ease;
}
.profile_data_search_filter input[type="text"]:focus{
    background: var(--focus-bg);
}
.profile_data_row {
    margin-bottom: calc(var(--min-space) * 3);
    padding-bottom: var(--max-space);
}
.profile_logged_in_as {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.profile_logged_in_as > div,
.profile_logged_in_as > span{
    margin-bottom: var(--max-space);
}
@media (max-width: 650px){
    .profile_logged_in_as > div,
    .profile_logged_in_as > span{
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        text-align: center;
    }
}
.profile_logged_in_as > span{
    display: grid;
}
.profile_logged_in_as > span strong {
    text-align: center;
    padding: var(--min-space) var(--max-space);
    border: 1px solid var(--color-dark-grey);
    margin: var(--max-space) 0;
}
.profile_data_row_content{
    display: grid;
}
.profile_data_title {
    display: -ms-flex;
    display: flex;
    align-items: center;
}
.profile_data_title svg {
    width: 100%;
    height: 100%;
    max-width: var(--icon-size);
    max-height: var(--icon-size);
    fill: var(--color-light-grey);
    transform: scale(0.8);
    transition: var(--transition-medium) ease;
}
.profile_data_title a:hover svg{
    transform: scale(0.7);
}
.profile_data_title small{
    padding: var(--min-space) var(--max-space);
    border-radius: calc(var(--pixel) * 40);
    background: var(--alert-warning);
    border: 1px solid var(--color-dark-grey);
}
.profile_data_row_content span{
    padding: var(--min-space) 0;
    white-space: pre-wrap;
}
.profile_data_row_media {
    display: -ms-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
}
.profile_data_row_media::-webkit-scrollbar{
    height: calc(var(--pixel) * 3);
}
.profile_data_row_media img,
.profile_data_row_media video{
    -ms-flex: 1;
    flex: 1;
    min-width: calc(var(--pixel) * 150);
    min-height: calc(var(--pixel) * 100);
    max-width: calc(var(--pixel) * 150);
    max-height: calc(var(--pixel) * 100);
    margin-right: var(--min-space);
    object-fit: cover;
    object-position: center;
    opacity: var(--opacity-dim);
    border-radius: var(--min-space);
    transition: var(--transition-fast) ease;
}
.profile_data_row_media img:hover{
    opacity: var(--opacity-full);
}
.profile_data_row_media video:hover{
    cursor: pointer;
    opacity: var(--opacity-full);
}
.edit_post_media {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: calc(var(--min-space) * 2);
    max-width: calc(var(--pixel) * 500);
}
.edit_post_media a {
    border: 1px solid var(--color-dark-grey);
    padding: var(--min-space) var(--max-space);
    border-radius: var(--min-space);
    color: var(--color-black);
    background: var(--alert-warning);
}
.edit_post_media a:hover{
    color: var(--color-white);
    background: var(--color-black);
    border: 1px solid var(--color-black);
}
.homepage_content{
    margin: var(--margin-centered);
    width: calc(var(--percent) * 100);
    max-width: calc(var(--pixel) * 1300);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: var(--max-space);
    padding: var(--max-space);
    overflow-x: hidden;
}
.homepage_content .page_loader{
    width: 100%;
    grid-column: span 1;
}
@media (min-width: 650px){
    .homepage_content{
        grid-template-columns: repeat(2, 1fr);
    }
    .homepage_content .page_loader{
        grid-column: span 2;
    }
}
@media (min-width: 1200px){
    .homepage_content{
        grid-template-columns: repeat(3, 1fr);
    }
    .homepage_content .page_loader{
        grid-column: span 3;
    }
    .homepage_content .post{
        min-width: calc(var(--pixel) * 300);
    }
}
.homepage_content .post{
    position: relative;
    width: 100%;
    padding-bottom: calc(var(--pixel) * 30);
    min-height: calc(var(--pixel) * 300);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--min-space);
    opacity: var(--opacity-none);
    box-shadow: none;
    box-shadow: 0 0 10px var(--color-dark-grey);
    animation: showPost var(--transition-slow) ease 1 forwards;
}

@keyframes showPost {
    0%{ opacity: var(--opacity-none); }
    100% { opacity: var(--opacity-full); }
}
.homepage_content .post .post_media{
    position: relative;
    min-height: calc(var(--pixel) * 300);
    background: transparent;
    overflow: hidden;
}
.homepage_content .post .post_media::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../static/images/icons/icon-no-image.svg') no-repeat center;
    background-size: calc(var(--pixel) * 150);
    opacity: calc(var(--value) * 0.2);
    border-bottom: 1px solid var(--color-dark-grey);
    box-shadow: inset -2px 10px 20px var(--color-dark-grey);
    z-index: -1;
}
.homepage_content .post_slider{
    min-height: calc(var(--pixel) * 300);
}
.homepage_content .post_slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(var(--pixel) * 300);
    max-height: calc(var(--pixel) * 300);
}
.homepage_content .post img,
.homepage_content .post video{
    width: 100%;
    min-height: calc(var(--pixel) * 300);
    max-height: calc(var(--pixel) * 300);
    object-fit: cover;
    object-position: center;
}
/* .homepage_content .post img,
.homepage_content .post video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(var(--pixel) * 300);
    max-height: calc(var(--pixel) * 300);
    object-fit: cover;
    object-position: center;
} */
.homepage_content .post_title,
.homepage_content .post_description{
    padding: var(--medium-space);
}
.homepage_content .post_title{
    font-weight: 700;
}
.homepage_content .post_description {
    white-space: pre-wrap;
    min-height: calc(var(--pixel) * 60);
    max-height: calc(var(--pixel) * 40);
    overflow: hidden;
    position: relative;
}