@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
html
,body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overscroll-behavior: unset;
}
body.menu_active{
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #222;
}
:root{
    --color-red: #9F741B;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-light-grey: #EEEEEE;
    --color-dark-grey: #CCCCCC;
    --color-red: #CC0000;

    --inset-grey: #CECECE;

    --alert-warning: #FEFFCC;
    --alert-danger: pink;

    --percent: 1%;
    --pixel: 1px;
    --value: 1;

    --min-space: 0.25rem;
    --medium-space: 0.5rem;
    --max-space: 1rem;

    --opacity-none: 0;
    --opacity-dim: 0.5;
    --opacity-full: 1;

    --margin-centered: 0 auto;

    --transition-fastest: 0.1s;
    --transition-fast: 0.3s;
    --transition-medium: 0.5s;
    --transition-slow: 0.8s;
    --transition-slowest: 1s;

    --bg-light-grey: rgba(238,238,238,0.45);

    --icon-size: calc(var(--pixel) * 30);
}
#pageWrapper{
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#pageWrapper > section{
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
}
.btn{
    width: 100%;
    height: calc(var(--pixel) * 50);
    text-align: center;
    color: var(--color-black);
    border: 1px solid var(--color-dark-grey);
    font-size: calc(var(--max-space));
    padding: calc(var(--pixel) * 10) calc(var(--pixel) * 20);
    position: relative;
    z-index: calc(var(--value) * 1);
    transition: var(--transition-medium) ease;
}
.btn:hover{
    color: var(--color-white);
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    transition: var(--transition-fast) linear;
    clip-path: circle(0% at bottom left);
    z-index: calc(var(--value) * -1);
}
.btn:hover:after{
    clip-path: circle(200% at bottom left);
}
@media (min-width: 600px){
    .btn{
        width: unset;
    }
}
@media (min-width: 768px){
    #pageWrapper .menu {
        max-width: calc(var(--percent)  * 30);
        border-right: 1px solid var(--color-light-grey);
    }
    #pageWrapper .content{
        max-width: calc(var(--percent)  * 70);
    }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){

    header{
        min-height: unset !important;
    }

    header .menu_top .menu_burger_icon{
        display: grid !important;
    }

    header .menu_top a{
        grid-column: span 3 !important;
        text-align: center !important;
    }

    #pageWrapper .menu,
    #pageWrapper .content {
        max-width: calc(var(--percent)  * 100);
    }
}
@media (min-width: 1100px){
    #pageWrapper .menu {
        max-width: calc(var(--percent)  * 20);
        border-right: 1px solid var(--color-light-grey);
    }
    #pageWrapper .content{
        max-width: calc(var(--percent)  * 80);
    }
}